@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  overflow-x: hidden;
  background-color: #F1F2F6;
}

.box-shadow{
  @apply bg-white rounded-md shadow-md border border-gray-100 box-border
}